body {
    font-family: helvetica;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0;
}

.inputFields p{
    display: inline-block;
    margin-right: 15px;
}

input {
    vertical-align: middle;
}

input[type=text] {
    border: 1px solid lightgrey;
    height: 20px;
    border-radius: 6px;
    padding: 5px 10px;
}

select {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 5px 10px;
}

#imageType {
    margin-bottom: 10px;
}

input[type=text]:focus {
    border: 1px solid #32809a;
    outline: 0;
    height: 20px;
    border-radius: 6px;
    padding: 5px 10px;
}

input[type=color] {
    padding: 0;
    height: 30px;
    background: transparent;
    border: 0;
    box-shadow: none;
    outline: 0;
    width: 60px;
}

input[type=color]:focus {
    border: 1px solid #32809a;
}

.heading {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

button,
a.download {
    border: 1px solid lightgrey;
    padding: 8px 12px;
    background: linear-gradient(to bottom, white 30%, #e9e9e9 80%);
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
}

button:active,
a.download:active {
    outline: 0;
    background: linear-gradient(to bottom, #e9e9e9 40%, #fff 80%);
}

.result span {
    display: block;
    background: #e04343;
    padding: 12px 13px;
    color: #fff;
    line-height: 1.5;
}

.button {
    text-align: center;
    margin-bottom: 20px;
}

.button a.button {
    display: inline-block;
    padding: 12px 30px;
    margin-right: 14px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    color: #303030;
    background: #fdfdfd;
    background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    background: linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2', GradientType=0);
    border: solid 1px #b7b7b7;
    border-radius: 30px;
    box-shadow: 0px 1px 5px #e8e8e8;
}

#view-on-github span {
    background: transparent url(https://phe0nix.github.io/assets/images/octocat-icon.png) 0 50% no-repeat;
}

a.button span {
    display: block;
    height: 23px;
    padding-left: 35px;
}

@media screen and (max-width: 600px) {
    .heading {
        width: 100%;
        font-size: 22px;
        font-weight: 600;
        margin: 8px auto 5px;
    }
    .button a.button {
        display: inline-block;
        padding: 5px 14px;
        font-size: 13px;
        text-decoration: none;
        font-weight: bold;
        line-height: 25px;
        color: #303030;
        transition: 0.2s linear;
    }
    .button a.button:not(:last-child) {
        margin-right: 6px;
    }
    ::-webkit-input-placeholder {
        font-size: 14px;
    }
    ::-moz-placeholder {
        font-size: 14px;
    }
    :-moz-placeholder {
        font-size: 14px;
    }
    :-ms-input-placeholder {
        font-size: 14px;
    }
}
